<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- VUE CDN -->
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <h1>Hello World!</h1>

    <div id="app">
        <h2>
            {{ name }} - {{ age }} - {{ job }}
        </h2>
        <!-- If conditional -->
        <div v-if="buttons">
            <!-- V-on based inside html file -->
            <button v-on:click="age++">Increase my age</button>
            <!-- V-on can be used as allow to react different types of events-->
            <!-- V-on based inside javascript file -->
            <button v-on:click="Decrease">Decrease my age</button>
            <!-- We can also use @ to replace the v-on -->
            <p @click="ChangeName('Jordan')">Change name</p>
        </div>
        <!-- Click Event -->
        <button @click="ShowButtons">
            {{ buttons ? 'Hide buttons' : 'Show buttons' }}
        </button>

        <!-- Data Listing-->
        <ul>
            <li v-for="laptop in laptops" :class="{ rtx: laptop.isRTX }">
               {{ laptop.name }} - {{ laptop.brand }}
            </li>
        </ul>

        <!-- Attribute Binding -->
        <a v-bind:href="url">Google</a><br> <!-- v-bind can be replaced by : -->
        <a :href="url">Google</a>

        <!-- Conditional Display: none -->
        <p v-show="buttons">Now you can see me!</p>

        <!-- Event Modifiers -->
        <div class="box" @mouseover="EventHandler"></div>
        <div class="box" @mouseleave="EventHandler"></div>
        <div class="box" @dblclick="EventHandler"></div>
        <div class="box" @mousemove="CursorTracker">{{ x }} -- {{ y }}</div>
    </div>

    <script src="./app.js"></script>
</body>

</html>